[submodule "rosetta_sip_factory"]
	path = rosetta_sip_factory
	url = https://github.com/StateLibraryVictoria/rosetta_sip_factory.git
[submodule "pymets"]
	path = pymets
	url = https://github.com/StateLibraryVictoria/pymets.git
[submodule "pydnx"]
	path = pydnx
	url = https://github.com/StateLibraryVictoria/pydnx.git
[submodule "pydc"]
	path = pydc
	url = https://github.com/StateLibraryVictoria/pydc.git
[submodule "mets_dnx"]
	path = mets_dnx
	url = https://github.com/StateLibraryVictoria/mets_dnx.git
