-i https://pypi.org/simple
colorama==0.4.6; sys_platform == 'win32'
iniconfig==2.0.0; python_version >= '3.7'
lxml==5.2.1; python_version >= '3.6'
-e git+https://github.com/StateLibraryVictoria/mets_dnx.git@5397578de867a9748018948b9c8689bb166f78b4#egg=mets-dnx
packaging==24.0; python_version >= '3.7'
pipfile==0.0.2
pluggy==1.5.0; python_version >= '3.8'
-e git+https://github.com/StateLibraryVictoria/pydc.git@0e923ce868d52c045762cd28a4960dfc37142806#egg=pydc
-e git+https://github.com/StateLibraryVictoria/pydnx.git@64dcc869e666cf5f11e4bece3e916499f8f85d82#egg=pydnx
-e git+https://github.com/StateLibraryVictoria/pymets.git@ba5e3c1c6688a047e1b097a532316fe02af71999#egg=pymets
pytest==8.2.0; python_version >= '3.8'
-e git+https://github.com/StateLibraryVictoria/rosetta_sip_factory.git@eeedb0635cb4be8f7931f5de90a8745c257b6437#egg=rosetta-sip-factory
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
